body {
    background-image: url("../images/dirt.png");
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.06);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;

}