* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Roboto', sans-serif;

}



#chatContainer, #toggleChat, #statsOverlay, #chatInput, #chatSend {
    pointer-events: auto !important;
}

canvas {
    pointer-events: auto;
}

#statsOverlay {
    position: absolute;
    z-index: 9999;
}

#p5-container canvas {
    z-index: 1;
    position: relative;
}

#plantSelector {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 9999;
}

.plantBtn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    transition: 0.2s;
}

.plantBtn.active {
    background: rgba(0, 200, 80, 0.6);
    transform: scale(1.15);
}


.btn {
    background-color: #c56e6e;
    color: white;
    border-radius: 10px;
    padding: 5px;
    border: none;
}

#waterToggleBtn {
    top: 80px;

}


.toggleBtns{
    position: fixed;
    left: 12px;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 80;
}
#harvestToggleBtn {
    top: 150px;

}

#chatContainer{
     display:none;
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 300px;
    z-index: 99;
    background: rgba(255,255,255,0.06);
    padding:8px;
    border-radius:6px;
    color:white;
}
