body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, rgb(220, 187, 54), rgb(255, 3, 192));
  color: #222;
}

.dm-sans-special {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.site-header {
  background: rgba(255, 255, 255, 0.247);
  padding: 40px 20px;
  text-align: center;
  color: black;
}

.site-header h2 {
  margin: 0;
  font-size: 2rem;
}

.site-header h3 {
  margin-top: 5px;
  font-size: 1.4rem;
  font-weight: 500;
}

.site-header h4 {
  margin: 10px 0 0;
  font-weight: 400;
}

.site-header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.header-subtitle {
  margin-top: 15px;
  font-size: 1rem;
  color: #fff;
}


/* Main*/
main {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 25px;
}

/* Card */
section {
  background: rgba(36, 31, 31, 0.458);
  border-radius: 12px;
  padding: 0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: transform 0.2s;
}

section:hover {
  transform: translateY(-4px);
}

/* Title card for the week  */
section h4 {
  background: pink;
  margin: 0;
  padding: 12px;
  text-align: center;
  color: #222;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

/* Text of journal */
section article {
  text-align: justify;
  padding: 15px;
  color: white;
  font-size: 0.95rem;
  line-height: 1.55rem;
}



/* Footer */
footer {
  background: rgba(255, 255, 255, 0.271);
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(3px);
}


/* Button*/

.home-link {
  text-align: center;
  margin: 30px 0;
}

.home-link a {
  font-size: 1.2rem;
  padding: 12px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}


.home-link a:hover {
  background-color: pink
}
