body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, rgb(220, 187, 54), rgb(255, 3, 192));
  color: #222;
}

.dm-sans-special {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.site-header {
  background: rgba(255, 255, 255, 0.247);
  padding: 40px 20px;
  text-align: center;
  color: black;
}

.site-header h2 {
  margin: 0;
  font-size: 2rem;
}

.site-header h3 {
  margin-top: 5px;
  font-size: 1.4rem;
  font-weight: 500;
}

.site-header h4 {
  margin: 10px 0 0;
  font-weight: 400;
}

.site-header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.header-subtitle {
  margin-top: 15px;
  font-size: 1rem;
  color: #fff;
}

.journal-link {
  text-align: center;
  margin: 30px 0;
}

.journal-link a {
  font-size: 1.2rem;
  padding: 12px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.journal-link a:hover {
  background-color: pink
}


.grid-container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding-bottom: 40px;
}

.divElements {
  background: rgba(2, 2, 2, 0.519);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.divElements h5 {
  margin-top: 0;
  font-size: 1.15rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}


ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 8px 0;
}

li a {
  text-decoration: none;
  color: pink;
  font-weight: 500;
  transition: 0.2s;
}

li a:hover {
  color: rgb(220, 187, 54)
}


footer {
  background: rgba(255, 255, 255, 0.271);
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(3px);
}