<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Collective Garden{% endblock %}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block head %}{% endblock %}
</head>

<body style="margin:0; overflow:hidden; font-family:Arial, sans-serif;">

{% block content %}
{% endblock %}

</body>
</html>
